<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/settingsheader.ejs %>
  </head>

  <body>
    <nav class="navbar">
      <ul class="left-nav">
        <a href="/settings"> <i class="fas fa-cog"></i></a>
      </ul>

      <ul class="main-nav" id="js-menu">
        <li>
          <a href="/" class="nav-links">Timer</a>
        </li>
        <li>
          <a href="/archive" class="nav-links">Archive</a>
        </li>
      </ul>
    </nav>

    <div class="wrapper">
      <div id="pomodoro-info">
        <h3>Pomodoro Sessions!!!</h3>
        <ul class="tomatos-block" id="pomodoro-sessions">
          <form action="/deleteAll" method="POST">
            <div id="delete">
              <button
                id="myButton"
                type="submit"
                value="clicked"
                onclick="return confirm('Are you sure?')"
              >
                DELETE
              </button>
            </div>
          </form>
        </ul>
      </div>
    </div>
  </body>
</html>
